.card {
  height: 400px;
  width: 300px;
  cursor: grab;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;

  > .btn_play {
    margin: 10px;
    cursor: pointer;
    height: 100px;
    background-color: greenyellow;
    color: #3232af;
    text-align: center;
  }
}