.start {
  div:first-child {
    padding: 30px;
    max-width: 500px;
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }
  div:last-child {
    display: flex;
    justify-content: center;
  }
}